<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/img/cloud.png">

</head>
<body>
  <div class="main-content">
      {{>header}}
      <p>This site was created by Victor. It uses data from mapbox.com and darksky</p>
  <img class="portrait" src="/img/robot.png">
  <br><br><br>
  {{>footer}}
  </div class="main-content">
</body>
</html>